.loader{
    position: relative;
    width: auto;
    height: 600px;
    text-align: center;
    display: none;
}

.loader .ring{
    position: relative;
    height: 60px;
    width: 60px;
    top: 120px;
    border: 5px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }
  .loader .ring:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid #FF0000;
    border-top-color: transparent;
    animation: rotate 1.5s linear infinite;
  }
  @keyframes rotate {
    100%{
      transform: rotate(360deg);
    }
  }

  #loaderheading{
    position: relative; 
    margin-top: 0; 
    top: 150px; 
    font-size: 60px;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
  }